.btn {
    display: inline-block;
    font-weight: 400;
    margin: 10px;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.add-btn-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px 0px 25px;
}

.add-btn {
    background: #32B482;
    padding: 9px 40px;
    border: 0;
    margin-right: 0;
    color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    font-size: 16px;
}

.add-btn:hover {
    color: #fff;
}