.overlay {
  position: fixed;
  left: 0;
  position: fixed;
  width: 100% !important;
  height: 100vh !important;
  background: rgba(87, 87, 87, 0.8);
  z-index: 1100;
  left: 0%;
  top: 0;
  bottom: 0;
  padding: 40px 30px;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.dialog {
  display: flex;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 20px;
  position: absolute;
  top: 46%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.xBtn {
  right: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  background: url("./../../assets/icons/close.png") no-repeat center;
}

.dialog .form-control {
  width: 100%;
}

.add-block {
  width: 100%;
  text-align: right;
}
